/* PHASE 8: Thumbs */

.friends_grid{
	display:flex;
}

.friends_grid li:nth-child(3n+3){
	left-margin: 10px;
	right-margin: 10px;
}

.thumb {
	display: block;

	left: 50%;
	transform: translateX(-50%);
	
}