.bootcamp-links {
    display: flex;
    position: relative;
    top: 30px;
    justify-content: center;
    border-bottom: 1px solid gray;
}

.bootcamp-links ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.bootcamp-links ul li {
    padding: 5px;
}


.bootcamp-links li a{
    text-decoration: none;
    color: black;
}

.bootcamp-links li:hover{
    text-decoration: underline;
    background-color: lightgray;
}


